body {
  background-color: #101113;
  color: #fff;
}
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Syne", sans-serif;
}
.navigation {
  /* border: 2px solid red; */
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.myname-dot {
  /* border: 1px solid green; */
}
.myname-dot h2 {
  /* border: 1px solid red; */
  font-weight: 900;
}
.dot {
  color: #a6a001;
}
.nav-list {
  /* border: 1px solid greenyellow; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.subscribe {
  /* border: 1px solid yellow; */
  border-radius: 10px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.subscribe p {
  color: #a6a001;
}
.section1 {
  /* border: 2px solid blue; */
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.me-description {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hey-header {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: flex-start;
  font-size: 11px;
}
.my-names {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.my-names h2 {
  margin-top: 0;
  /* border: 1px solid yellow; */
}
.am-soft {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.small-descr {
  /* border: 1px solid cyan; */
  font-size: 10px;
}
.cv button {
  border: 1px solid #a6a001;
  border-radius: 3px;
  height: 30px;
  width: 60px;
  background-color: #101113;
  color: #fff;
  cursor: pointer;
}
.my-img-roles {
  /* border: 1px solid green; */
  width: 40%;
}
.me {
  /* border: 1px solid red; */
  position: absolute;
  top: -9%;
  right: 13%;
}
.web {
  border-radius: 3px;
  border: 0;
  position: relative;
  width: 90px;
  height: 43px;
  background-color: #acacac;
}
.mobile {
  border-radius: 3px;
  border: 0;
  position: relative;
  top: 30%;
  left: 47%;
  height: 35px;
  background-color: #4b4b4b;
  color: #fff;
}
.ui {
  border-radius: 4px;
  border: 0;
  position: relative;
  top: 55%;
  right: 39%;
  height: 35px;
  background-color: #000;
  color: #fff;
}
.section2 {
  /* border: 2px solid brown; */
  margin: 11% 0 7% 0;
  display: flex;
  justify-content: space-evenly;
}
.about {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  /* border: 1px solid purple; */
  color: #a6a001;
  width: inherit;
  font-size: 3em;
  position: relative;
  transform: rotate(270deg);
}
.words {
  /* border: 1px solid red; */
  margin-top: 3em;
}
.who-cv {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.who-am {
  /* border: 1px solid yellow; */
  font-size: 1.5em;
  position: relative;
  left: 1.5em;
  top: -1.5em;
}
.wo-ski-ico {
  /* border: 1px solid yellow; */
  width: 50%;
}
.inputs-skills {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputs-skills h3 {
  /* border: 1px solid red; */
  color: #a6a001;
  margin: 2em 0 2em 0;
  font-size: 2em;
  display: flex-start;
  justify-content: center;
}
.img-skill {
  /* border: 1px solid rgb(210, 194, 194); */
  margin-top: -2rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  height: fit-content;
}
.icons {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
}
.img {
  /* border: 1px solid orange; */
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.img img {
  /* border: 1px solid red; */
  height: 1em;
}
.skills {
  /* border: 1px solid green; */
  height: fit-content;
  margin-bottom: -2em;
}
.skills p {
  /* border: 1px solid blue; */
  margin-top: 0;
}
.section3 {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.services {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services h1 {
  color: #a6a001;
  width: inherit;
  font-size: 3em;
  position: relative;
  left: -1.5em;
  transform: rotate(270deg);
}
.boxes {
  /* border: 4px solid purple; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-box {
  /* border: 2px solid red; */
  display: flex;
  gap: 3em;
}
.second-box {
  /* border: 2px solid blue; */
  display: flex;
  gap: 3em;
  margin-top: 2em;
}
.box {
  /* border: 1px solid yellow; */
  width: 20em;
  height: 300px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #1e1e1e;
}
.logo img {
  width: 60px;
  height: 60px;
}
.section4 {
  /* border: 1px solid red; */
}
.portfolio {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}
.sec4-nav {
  /* border: 1px solid blue; */
  display: flex;
  width: 60%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
  border-radius: 20px;
  background: #1e1e1e;
}
