* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Syne", sans-serif;
}
body {
  display: flex;
  gap: 5%;
  background-color: #000;
}
.sidebar {
  background-color: #2c2d2d;
  color: #fff;
  width: 20%;
  height: 98vh;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  border: 1px solid blue;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
}
#user_portrait {
  border: 1px solid red;
  border-radius: 2px;
  /* float: right; */
}
#over-text {
  margin-top: 2em;
  font-size: 0.5em;
  letter-spacing: 2px;
}
.blogs {
  /* border: 1px solid green; */
  display: flex;
  gap: 1.5em;
  width: 50%;
}
.blog-img img {
  /* border: 2px solid yellow; */
  max-width: 100%;
}
.up {
  /* border: 1px solid green; */
  font-size: 0.9em;
}
.low {
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: 0.6em;
}
.feed {
  border-top: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.feed img {
  width: 1.4em;
  height: 1.2em;
}
.come {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.like {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
