* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Syne", sans-serif;
}
body {
  display: flex;
  gap: 5%;
  background-color: rgb(231, 231, 231);
}
.sidebar {
  background-color: #2c2d2d;
  color: #fff;
  width: 20%;
  height: 98vh;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  display: none;
}
.dropdown-content {
  display: none;
}

.logo-cont {
  /* border: 1px solid lime; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.logo {
  /* border: 1px solid green; */
  height: 30px;
  width: 30px;
  display: none;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
}
.dash {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.head {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.head h1 {
  font-size: 2em;
}
.nav-card {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 90%;
  padding: 0;
}

.nav-card a {
  display: flex;
  text-decoration: none;
  color: #2c2d2d;
  font-size: 1em;
  font-weight: 900;
}
.card {
  /* border: 1px solid red; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 25%;
  height: 100%;
}
.card:hover {
  box-shadow: 0 0 10px rgb(103, 131, 91);
}
.card-icon {
  /* border: 1px solid rgb(221, 13, 65); */
}
#icon {
  /* border: 1px solid orange; */
  font-size: 35px;
  margin-top: 50%;
}
.bellow-card {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.h3 h3 {
  font-size: 1em;
}
.chart-cont-two {
  display: none;
}
.charts-cont-one {
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.chart-header {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-header h3 {
  font-size: 1em;
  font-weight: bolder;
  color: #a68e13;
}
@media only screen and (max-width: 840px) {
  .dash {
    /* border: 1px solid rgb(51, 255, 0); */
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .head {
    /* border: 1px solid blue; */
    margin-top: -90%;
  }
  .head h1 {
    font-size: 1.5em;
  }
  .nav-card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    gap: 5%;
    padding-top: 5%;
  }
  .card {
    /* border: 1px solid yellow; */
    width: 80%;
    height: 25em;
  }
  .sidebar {
    display: none;
  }

  .dropdown {
    /* border: 1px solid red; */
    position: relative;
    display: inline-block;
    width: 10%;
  }
  .dropdown i {
    font-size: 2em;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f95c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .charts-cont-one {
    display: none;
  }
  .chart-cont-two {
    /* border: 1px solid red; */
    width: 90%;
    display: block;
  }
  .chart-cont-two canvas {
    /* border: 1px solid green; */
  }
}
